extends base
block content 
    .error-container
        h1=statusCode
        h2 Oops! Page Not Found
        //- p The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
        p=msg
        a(href="/") Go Back Home